/* created by Ardora http://www.webardora.net */

               #menuLog { font-size:1.4em; margin:20px; }
               #areaMenu{float:left;height:20px;}
               #areaMenu a{clear:none;}
               .hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
               .fg-button { margin:0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align:center;zoom:1;font-size:11px;}
               .fg-button .ui-icon { position: absolute; top: 50%; margin-top: -8px; left: 50%; margin-left: -8px; }
               a.fg-button { float:left;  }
               button.fg-button { width:auto; overflow:visible; } /* removes extra button width in IE */
               .fg-button-icon-left { padding-left: 2.1em; }
               .fg-button-icon-right { padding-right: 2.1em; }
               .fg-button-icon-left .ui-icon { right: auto; left: .2em; margin-left: 0; }
               .fg-button-icon-right .ui-icon { left: auto; right: .2em; margin-left: 0; }
               .fg-button-icon-solo { display:block; width:8px; text-indent: -9999px; }	 /* solo icon buttons must have block properties for the text-indent to work */
               .fg-button.ui-state-loading .ui-icon { background: url(spinner_bar.gif) no-repeat 0 0; }
body {font-size:62.5%; margin:0; padding:10px; background-color:#FFFFFF;}
#showIframe{width:100%; height:100%; border:none;}
#contedorTotal{ 
   position:absolute;
   width:1000px;
   left:50%;
   margin-left:-500px;
   height:auto;
   border-style:solid;
   border-width:thin;
   border-color:#000040;
   -webkit-border-radius: 6px; border-radius: 6px;
-webkit-box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);box-shadow: 4px 4px 4px rgba(50, 50, 50, 0.5);
transform-origin: center top;}
#cabeceira{ 
   font-family:Century Gothic, sans-serif;
   background-color:#0D3064;
   height:40px;
   padding:5px;
   -webkit-border-radius: 6px; border-radius: 6px;
   border-style:solid;
   border-width:thin;
   border-color:#000040;
display:flex;justify-content:center;
}
#titulo{
float:left; font-size:30px; font-weight:bolder;  color:#FFFFFF;
}
#subtitulo{
float:right; font-size:28px;  color:#0080FF;
}
#peText{
float:left; font-size:15px; color:#0000A0;
}
#ArdoraIframe{
   background-image:url("../menuFiles/ENTREGABLE  1, DISEÑO DE PAGINA WEB, EVALUACION DE RED.png");
   background-position:center;
   background-repeat:repeat;
   background-color:#FFFFFF;
   height:560px;
   -webkit-border-radius: 6px; border-radius: 6px;
   border-style:solid;
   border-width:thin;
   border-color:#000000;
      margin-top:25px;
}
#pe_pax{display:flex;justify-content:center;
   font-family:Verdana, Geneva, sans-serif;
   background-image:url("../menuFiles/udes.png");
   background-position:center;
   background-repeat:no-repeat;
   background-color:#FFFFFF;
   height:50px;
   padding:5px;
   border-style:solid;
   border-width:thin;
   border-color:#000000;
   -webkit-border-radius: 6px; border-radius: 6px;
   font-weight:bolder;
}
#dock {position:fixed; bottom:5px;  width:100%;}
a.dock-item { display: block; width: 100px; position: absolute; bottom: 0; text-align: center; text-decoration: none; color: #333;}
#dock li{list-style:none;}
.dock-item span { display: none; text-align:center; background:#000000; font:Geneva, Arial, Helvetica, sans-serif; font-size:14px; color: #fff; padding: 3px 10px; -webkit-border-radius: 10px; -moz-border-radius: 10px; }
.dock-item img { border: 0; margin: 5px 10px 0px; width: 100%; }
.dock-container { position: relative; top: -8px; height: 50px; padding-left: 20px; }
.ardorabutton{font-family:Ardora_arrows;float: left;font-size:50px;background: rgba(255, 0, 0, 0);border: none;width: auto;color:#0000A0;}
.ardorabutton:hover{color:#0D3064;}
#barbutton{width:auto;float:left;position:absolute;left: 0;}
